@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

body {
  font-family: "Pretendard", sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

/* 프로필 카드 */
.profile-card {
  display: flex;
  width: 600px;
  height: 74px;
  border-radius: 17px;
  align-items: center;
  background: #F0F7F4;
  border-radius: 20px;
  padding: 22px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
}

.profile-icon {
  margin: 20px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 28px;
  margin-left: 18px;
}

/* 프로필 정보 */
.profile-info h2 {
  font-size: 22px;
  font-weight: 505;
  margin: 15px 0 8px 0;
  color: #00462A;
}

.profile-info p {
  font-size: 17px;
  font-weight: 350;
  color: #00462A;
  margin-top: 5px;
}

/* 정보 카드 */
.info-card {
  width: 600px;
  background: #F0F7F4;
  padding: 25px;
  border-radius: 17px;
  margin: 20px 0;
  padding: 17px 21px 12px 21px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
}

/* 정보 입력 행 */
.info-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  gap: 30px;
}

/* 왼쪽 라벨 스타일 */
.info-row span {
  font-size: 19px;
  font-weight: 500;
  color: #333333;
  min-width: 30px;
  text-align: right;
}

/* 드롭다운 박스 */
.dropdown {
  display: flex;
  align-items: center;
  background: white;
  border: 1.5px solid #00462A;
  border-radius: 17px;
  padding: 8px 12px;
  width: 160px;
  height: 23px;
}

/* 드롭다운 아이콘 */
.dropdown-icon {
  width: 17px;
  height: 17px;
  margin-left: 7px;
}

/* 드롭다운 내부 select */
select {
  border: none;
  outline: none;
  color: #00462A;
  font-weight: 500;
  background: transparent;
  font-size: 14px;
  width: 100%;
  padding-left: 5px;
}

/* 학점 입력 필드 (드롭다운과 동일한 스타일) */
.input-field {
  width: 100%;
  height: 30px;
  padding: 8px 12px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
}

/* 저장 버튼 */
.save-button {
  background: #00462A;
  color: white;
  border: none;
  padding: 12px;
  width: 640px;
  border-radius: 17px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 5px;
}

.save-button:hover {
  background: #1e3b23;
}
