@font-face {
    font-family: 'SeoulNamsanM';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  .join-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #ffffff;
    font-family: 'Pretendard', sans-serif;
  }
  
  .join-form {
    text-align: center;
    width: 18rem; 
  }
  
  .join-title {
    font-size: 1rem;
    font-weight: 340; 
    color: #00462A;
    margin: 0;
    padding: 0;
    line-height: 1;
  }
  
  .join-subtitle {
    font-family: 'SeoulNamsanM', sans-serif;
    font-weight: 730;
    font-size: 2.15rem;
    color: #00462A;
    margin: 5px;
    padding: 0;
    line-height: 1;
    margin-bottom: 24px;
  }
  
  .input-group {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    width: 100%;
  }
  
  .input-label {
    font-size: 1rem;
    font-weight: 500;
    color: #333333;
    width: 100%;
    text-align: left;
  }
  
  
  .input-field {
    width: 88.5%;
    padding: 12px 16px;
    border: 1.5px solid #00462A;
    border-radius: 12px;
    background-color: #D9D9D9;
    font-size: 0.875rem;
    outline: none;
  }
  
  .input-style {
    width: 60%;
    padding: 12px 16px;
    border: 1px solid #00462A;
    border-radius: 12px;
    background-color:white;
    font-size: 0.875rem;
    outline: none;
  }
  
  .select-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .select-item {
    display: flex;
    align-items: center;
    gap: 14px;
    width: 100%;
    height: 40px;
  }
  
  .select-label {
    font-size: 1rem;
    font-weight: 500;
    color: #333333;
    width: 30%;
    text-align: left;
  }
  
  .select-field {
    width: 70%; 
    height: 40px;
    padding: 8px 12px;
    border: 1.5px solid #00462A;
    border-radius: 12px;
    background-color: #f8f9fa;
    font-size: 0.875rem;
    outline: none;
  }
  
  .submit-button {
    width: 100%; 
    background-color: #00462A;
    color: white;
    padding: 12px;
    margin-top: 24px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 0;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .submit-button:hover {
    background-color: #00371a;
  }
  